<section class="ad">
    <div class="ad-container d-flex jcc aic">
        <h5 class="h4-style m-h5-style">
            加入會員取得 9 折優惠
        </h5>
        <a class="neutral-btn-lg m-neutral-btn-sm" href="#">馬上註冊</a>
    </div>
</section>