<footer>
    <div class="footer-nav d-flex aic">
        <a href="index.html"><img src="../assets/images/w1/logo.svg" alt="logo"></a>
        <div class="footer-list d-flex aic">
            <a href="product.html">商品列表</a>
            <a href="about.html">品牌故事</a>
            <a href="favorite.html">我的收藏</a>
        </div>
    </div>

    <section class="copyright">
        <p class="paragraph-sm">Copyright ©2025 URBNSTYLE</p>
        <p class="paragraph-sm">All Rights Reserved.</p>
    </section>
</footer>