<header>
    <div class="header d-flex aic">
        <nav class="header-nav d-flex aic">
            <a href="../index.html"><img src="../assets/images/w1/logo.svg" alt="logo"></a>
            <a class="member2" href="../login.html"><i class="bi bi-person"></i></a>
            <div class="header-list d-flex aic">
                <a class="bg-primary-200" href="../product.html">商品列表</a>
                <a class="bg-primary-100" href="../about.html">品牌故事</a>
            </div>
        </nav>
        <a class="member" href="../login.html"><i class="bi bi-person"></i></a>
    </div>
</header>