<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<header>
    <div class="header d-flex aic">
        <nav class="header-nav d-flex aic">
            <a href="../pages/index.html"><img src="../assets/images/w1/logo.svg" alt="logo"></a>
            <div class="header-list d-flex aic">
                <a href="#">商品列表</a>
                <a href="#">品牌故事</a>
            </div>
        </nav>
        <a class="member" href="#"><i class="bi bi-person"></i></a>
    </div>
</header>