.ad{
  margin: 0 auto;
  margin-top: 48px;
  background-color: $primary-200;
  padding: 24px 0;

  h5{
    margin-right: 24px;
  }
}

@media (max-width: 768px){
  .ad{
  margin-top: 24px;
  padding: 24px 0;

  h5{
    margin-right: 16px;
  }
}
}