footer{
  background-color: $neutral-100;
  margin: 0 auto;
  padding: 64px 12px;
}

.footer-nav{
  margin: 0 auto;
  max-width: 1296px;
  padding-bottom: 24px;
  border-bottom: 1px solid $neutral-300;
}

.footer-list{
  margin-left: auto;

  a{
    color: $neutral-900;
    margin-left: 40px;
    padding: 12px 0;

    &:hover{
      color: $neutral-600;
    }
  }
}

.copyright{
  margin-top: 32px;
  margin-bottom: 64px;
  text-align: center;
  color: $neutral-600;
}

@media (max-width: 768px){
  footer{
  padding: 32px 12px;
}

.footer-nav{
  max-width: 375px;
  display: block;
}

.footer-list{
  margin-left: 0;
  display: block;
  margin-left: 12px;
  margin-top: 8px;

  a{
    display: block;
    margin-left: 0px;
    padding: 12px 12;
  }
}

.copyright{
  margin-bottom: 0px;
}
}