.wrap{
    margin: 0 auto;
    padding: 12px;
}

.hero{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 151px 0;
    text-align: center;

    h1{
        color: $neutral-0;
        margin-bottom: 16px;
    }
    h2{
        color: $neutral-0;
    }
}

.bg{
    margin: 0 auto;
    max-width: 856px;
    padding: 32px;
    text-align: center;
    background-color: $primary-100;
    margin-top: 64px;
    margin-bottom: 48px;

    h4{
        color: $primary-400;
        margin-bottom: 12px;
    }
}

.ab-pic{
    margin: 0 auto;
    margin-bottom: 24px;
}

.ab-article{
    margin: 0 auto;
    max-width: 856px;
    padding-bottom: 48px;
    border-bottom: 1px solid $neutral-300;
    margin-bottom: 24px;

    h3{
        margin-bottom: 24px;
    }
    h4{
        margin-bottom: 16px;
        color: $primary-400;
    }
    p{
        margin-bottom: 16px;
        color: $neutral-900;
    }
}

.year{
        list-style-type: disc;
        
        li{
            margin-left: 20px;
            margin-bottom: 12px;
        }
}

.idea{
    li{
        padding-left: 12px;
        margin-bottom: 12px;
        border-left: 3px solid $neutral-300;
    }
}

.brand-story{
    color: $primary-400;

    li{
        margin-bottom: 12px;
    }
    
    a{
        margin-left: 8px;
        color: $primary-400;
        border-bottom: 1px solid $primary-400;

        &:hover{
            color: $primary-500;
        }
    }
}

.brand-story-main{
    margin-bottom: 24px;
}

@media(max-width: 768px){

.hero{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true);
    padding: 87px 0;
    position: relative;

    h1{
        margin-bottom: 8px;
    }
}

.bg{
    max-width: 375px;
    padding: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align-last: left;

    h4{
        color: $primary-400;
        margin-bottom: 12px;
    }
}

.ab-pic{
    margin-bottom: 16px;
}

.ab-article{
    max-width: 375px;
    padding-bottom: 32px;
    margin-bottom: 32px;

    h3{
        margin-bottom: 16px;
    }
    h4{
        margin-bottom: 12px;
    }
    p{
        margin-bottom: 12px;
    }
}

.brand-story-main{
    margin-bottom: 32px;
}
}