.wrap{
    margin: 0 auto;
    padding: 12px;
}

.hero{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}