.wrap{
  margin: 0 auto;
  padding: 12px;
}

.banner{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 64px;

  padding-top: 289px;
  padding-bottom: 288px;
  padding-left: 200px;

    h1{
      color: $neutral-0;
      margin-bottom: 16px;
    }
    h4{
      color: $neutral-0;
      margin-bottom: 48px;
    }
}

main{
  margin: 0 auto;
  max-width: 1296px;
}

.main-text{
  text-align: center;
  margin-bottom: 32px;

  h2{
    margin-bottom: 12px;
  }
}

.main-card{
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 40px;

  h5{
    color: $neutral-900;
  }
  p{
    color: $neutral-900;
  }
  img{
    margin-bottom: 12px;
  }
}

.main-pic{
  margin-left: -12px;
  margin-right: -12px;
}

.main-container{
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}

.hot{
  margin: 0 auto;
  max-width: 1296px;
  
  h3{
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

.hot-card{
  padding-left: 12px;
  padding-right: 12px;
  a{
    position: relative;
  }
  p{
    padding: 8px 12px;
    background-color: $primary-100;
    position: absolute;
    color: $primary-400;
  }
}

.hot-container{
  margin-left: -12px;
  margin-right: -12px;
}

.hot-pic{
  margin-bottom: 64px;
  padding-left: 12px;
  padding-right: 12px;
}

.sale{
  margin: 0 auto;
  padding: 48px 0;
}

.sale-container{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.sale-text{
  text-align: center;
  position: relative;
  h3{
    color: $neutral-0;
    margin-bottom: 32px;
  }
  p{
    color: $neutral-500;
    margin-bottom: 48px;
  }
  .star{
    position: absolute;
    top: -50px;
    left: -80px;
  }
  .sparkle{
    position: absolute;
    bottom: -40px;
    right: -60px;
  }
}

.sale-title{
  margin-bottom: 16px;
  h2{
    color: $neutral-0;
  }
  h3{
    color: $primary-300;
    margin: 0 24px;
  }
}

.series{
  margin: 0 auto;
  max-width: 1296px;
  padding: 64px 0;

  h3{
    margin-bottom: 16px;
  }
}

.series-card{
  position: relative;
}

.series-text{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.4);
  h4{
    margin-bottom: 8px;
    color: $neutral-0;

    &:hover{
      color: $primary-300
    }
  }
  p{
    color: $neutral-0;
  }
}

.series-container{
  a{
    padding-left: 12px;
    padding-right: 12px;
  }
  .series-pic{
    margin-left: -12px;
    margin-right: -12px;
  }

  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 64px;
}

.style{
  margin: 0 auto;
  max-width: 1296px;

  h3{
    margin-bottom: 16px;
  }
}

.style-pic{
  margin-left: -4px;
  margin-right: -4px;
}

.block{
  padding: 4px;
}

@media (max-width: 768px) {
  .header{
    max-width: 375px;
  }

  .header-nav{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    img{
      padding: 12px 0;
    }
  }

  .header-list{
    margin: 0;
    a{
      padding: 12px 54px;
      margin: 0;
    }
  }

  .member{
    display: none;
  }

  .member2{
    display: contents;
    font-size: 24px;
    color: $neutral-900;
    margin-left: auto;
  }

  .bg-primary-200{
    background-color: $primary-200;
  }

    .bg-primary-100{
    background-color: $primary-100;
  }

  .banner{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true);
    padding: 155px 24px;
    margin-bottom: 40px;

    h1{
      margin-bottom: 8px;
    }
    h4{
      margin-bottom: 32px;
    }
  }

  .main-card{
    margin-bottom: 24px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .main-pic{
    margin-left: -6px;
    margin-right: -6px;
  }

  .main-container{
    padding-left: 6px;
    padding-right: 6px;
  }

  .main-text{
    margin-bottom: 16px;
  }

  main{
    max-width: 375px;
  }

  .hot{
  max-width: 375px;
  
  h3{
    margin-top: 40px;
  }
}

.hot-card{
  padding-left: 8px;
  padding-right: 8px;
  min-width: 316px;
}

.hot-container{
  margin-left: -8px;
  margin-right: -8px;
  overflow: scroll;
}

.hot-pic{
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 40px;
}

.sale{
  padding: 24px 0;
}

.sale-container{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded-sm.png?raw=true);
  padding: 64px 24px;
}

.sale-text{

  h3{
    margin-bottom: 24px;
  }
  p{
    margin-bottom: 32px;
  }
  .star{
    top: -40px;
    left: -50px;
  }
  .sparkle{
    bottom: -40px;
    right: -60px;
  }
}

.sale-title{
  display: block;
  margin-bottom: 16px;
  h3{
    margin: 8px 0;
  }
}

.series{
  max-width: 375px;
  padding: 40px 0;
}

.series-card{
  margin-bottom: 12px;
}

.m-col-6{
  min-width: 50%;
}

.series-container{
  a{
    padding-left: 6px;
    padding-right: 6px;
  }
  .series-pic{
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }

  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 40px;
}



.style{
  max-width: 375px;
}

.style-col-4{
  max-width: none;
}

.style-col-6{
  max-width: none;
}

.style-col-12{
  max-width: none;
}

.style-pic{
  margin-left: 0;
  margin-right: 0;
  overflow-x: auto;
}

.block{
  padding: 0px;
  margin-right: 16px;
  width: 300px;
}

.m-nw{
  flex-wrap: nowrap;
}
}