.product-nav{
    margin-top: 32px;

    p{
        font-size: 100px;
        font-weight: 700;
        color: $neutral-300;
        margin: 0 12px;
    }

    a{
        color: $neutral-600;
    }

    .nav-2{
        color: $neutral-900;
    }

    h1{
    margin: 24px 0;
    padding: 7px 0;
    }
}