.wrap{
    margin: 0 auto;
    padding: 12px;
}

.pro-nav{
    p{
        font-size: 16px;
        font-weight: 700;
        color: $neutral-300;
        display: inline;
    }
    a{
        color: $neutral-600;
    }
    .hard{
        color: $neutral-900;
    }
}