

.login-wrap{
    margin: 0 auto;
}

.login-main{
    padding: 64px 0;
    max-width: 1296px;
}

.login-pic{
    border-radius: 12px;
    margin-right: 24px;
    width: 526px;
    height: auto;
    background-image: url("../../assets/images/cf551415ad4c6d8dd99b1a0d64a27773ad8734e1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    h1{
        color: $neutral-0;
        padding-top: 71px;
        padding-left: 40px;
        margin-bottom: 15px;
    }
    h3{
        color: $neutral-500;
        padding-left: 125px;
    }
}

.login-space{
    margin: 0 auto;
    text-align: center;
    padding: 120px 70px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-bg.png?raw=true);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        margin-bottom: 32px;
    }
}

.login-btn{
    margin-bottom: 32px;
    a{
        padding: 12px 125px;
    }
}

.log-act{
    border-bottom: 2px solid $neutral-900;
}

.log-dis{
    color: $neutral-600;
    border-bottom: 2px solid $neutral-300;
}

.social-media{
    a{
        background-color: $neutral-0;
        border-radius: 4px;
        padding: 12px 0;
        margin-bottom: 8px;
    }

    img{
        margin-left: 12px;
        margin-right: 12px;
    }
}




@media (max-width: 768px){


.login-main{
    padding: 0;
    max-width: 375px;
}

.login-container{
    display: block;
}

.col-5{
    max-width: none;
}

.login-pic{
    border-radius: 0;
    margin-right: 0;
    max-width: 100%;
    background-image: url("../../assets/images/cf551415ad4c6d8dd99b1a0d64a27773ad8734e1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    h1{
        margin-bottom: 9px;
        padding-top: 24px;
        padding-left: 24px;
    }
    h3{
        padding-left: 24px;
        padding-bottom: 150px;
    }
}

.col-7{
    max-width: none;
}

.login-space{
    display: block;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    padding: 32px 12px;

    h1{
        margin-bottom: 24px;
    }
}

.login-btn{
    margin-bottom: 24px;
    a{
        padding: 12px 65px;
    }
}

//

.social-media{
    a{
        border-radius: 4px;
        border: 1px solid $neutral-300;
    }
}
}