//通用樣式

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.dispaly-1{
    font-size: 64px;
    line-height: 1.2;
}

.dispaly-2{
    font-size: 48px;
    line-height: 1.2;
}

h1{
    font-size: 40px;
    line-height: 1.2;
}

h2{
    font-size: 32px;
    line-height: 1.2;
}

h3{
    font-size: 28px;
    line-height: 1.2;
}

h4{
    font-size: 24px;
    line-height: 1.2;
}

h5{
    font-size: 20px;
    line-height: 1.2;
}

h6{
    font-size: 16px;
    line-height: 1.2;
}

.label-lg{
    font-size: 20px;
}

.label-md{
    font-size: 16px;
}

.label-sm{
    font-size: 14px;
}

.label-xs{
    font-size: 12px;
}

.paragraph-lg{
    font-size: 20px;
}

.paragraph-md{
    font-size: 16px;
}

.paragraph-sm{
    font-size: 14px;
}

.paragraph-xs{
    font-size: 12px;
}