//通用樣式
.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.fd-c {
    flex-direction: column;
}

.col-6 {
    max-width: 50%;
}

.col-3 {
    max-width: 25%;
}

.col-2{
    max-width: 16.6666667%;
}

.col-4{
    max-width: 33.33333333%;
}

.col-10{
    max-width: 83.3333333%;
}

.col-12{
    max-width: 100%;
}

.style-col-6 {
    max-width: 50%;
}

.style-col-12{
    max-width: 100%;
}

.style-col-4{
    max-width: 33.333333%;
}

//文字
.display-1{
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}

.display-2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.h1-style{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h2-style{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3-style{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4-style{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5-style{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6-style{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.label-lg{
    font-size: 20px;
    font-weight: 500;
}

.label-md{
    font-size: 16px;
    font-weight: 500;
}

.label-sm{
    font-size: 14px;
    font-weight: 500;
}

.label-xs{
    font-size: 12px;
    font-weight: 500;
}

.paragraph-lg{
    font-size: 20px;
}

.paragraph-md{
    font-size: 16px;
}

.paragraph-sm{
    font-size: 14px;
}

.paragraph-xs{
    font-size: 12px;
}


//按鈕
.primary-btn-lg{
    color: $neutral-900;
    background-color: $primary-300;
    padding: 12px 24px;
    border-radius: 4px;

    &:hover{
        color: $primary-500;
    }
}

.neutral-btn-lg{
    color: $neutral-0;
    background-color: $neutral-900;
    padding: 12px 24px;
    border-radius: 4px;

    &:hover{
    background-color: $neutral-700;
    }
}

@media (max-width: 768px){
.m-display-1{
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}

.m-display-2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h1-style{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h2-style{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h3-style{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h4-style{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h5-style{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.m-h6-style{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.m-label-lg{
    font-size: 20px;
    font-weight: 500;
}

.m-label-md{
    font-size: 16px;
    font-weight: 500;
}

.m-label-sm{
    font-size: 14px;
    font-weight: 500;
}

.m-label-xs{
    font-size: 12px;
    font-weight: 500;
}

.m-paragraph-lg{
    font-size: 20px;
}

.m-paragraph-md{
    font-size: 16px;
}

.m-paragraph-sm{
    font-size: 14px;
}

.m-paragraph-xs{
    font-size: 12px;
}

.m-neutral-btn-sm{
    padding: 8px 16px;
}
}