//通用樣式

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.dispaly-1{
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}

.dispaly-2{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.h1-style{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h2-style{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3-style{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4-style{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5-style{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6-style{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.label-lg{
    font-size: 20px;
    font-weight: 500;
}

.label-md{
    font-size: 16px;
    font-weight: 500;
}

.label-sm{
    font-size: 14px;
    font-weight: 500;
}

.label-xs{
    font-size: 12px;
    font-weight: 500;
}

.paragraph-lg{
    font-size: 20px;
}

.paragraph-md{
    font-size: 16px;
}

.paragraph-sm{
    font-size: 14px;
}

.paragraph-xs{
    font-size: 12px;
}

.primary-btn-lg{
    color: $neutral-900;
    //$label-md
    background-color: $primary-300;
    padding: 12px 24px;
    border-radius: 4px;

    &:hover{
        color: $primary-500;
    }
}