<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <!-- Header End -->
    
    <div class="banner">
        <h1 class="display-1 m-display-2">URBNSTEP</h1>
        <h4 class="h3-style m-h5-style">Your Step, Your Statement</h4>
        <a class="label-md primary-btn-lg" href="https://tiffany871205.github.io/forth/product.html">立即選購</a>
    </div>

    <main>
      <div class="main-text">
        <h2 class="display-2 m-h2-style">New Arrival</h2>
        <h3 class="h2-style m-h4-style">新品上市</h3>
      </div>

      <section class="main-container">
        <div class="main-pic d-flex jcc f-wrap">
          <div class="main-card col-6" data-aos="zoom-in">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true" alt="Monoverse">
              <h5 class="h5-style m-h6-style">Monoverse</h5>
              <p class="label-md">NT$3,600</p>
            </a>
          </div>

          <div class="main-card col-6" data-aos="zoom-in">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true" alt="PLATFORM 404">
              <h5 class="h5-style m-h6-style">PLATFORM 404</h5>
              <p class="label-md">NT$2,600</p>
            </a>
          </div>

          <div class="main-card col-6" data-aos="zoom-in">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true" alt="URBN Force">
              <h5 class="h5-style m-h6-style">URBN Force</h5>
              <p class="label-md">NT$3,200</p>
            </a>
          </div>

          <div class="main-card col-6" data-aos="zoom-in">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true" alt="Mode90">
              <h5 class="h5-style m-h6-style">Mode90</h5>
              <p class="label-md">NT$4,000</p>
            </a>
          </div>
        </div>
      </section>
    </main>

    <section class="hot">
      <h3 class="h2-style m-h4-style">熱銷補貨</h3>

      <div class="hot-pic">
        <div class="hot-container d-flex aic" data-aos="flip-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom">
          <div class="hot-card col-3">
            <a href="#">
              <p class="label-sm">人氣 No.1</p>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="shoe">
            </a>
          </div>

          <div class="hot-card col-3" data-aos="flip-up" data-aos-duration="600" data-aos-anchor-placement="bottom-bottom">
            <a href="#">
              <p class="label-sm">人氣 No.1</p>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="shoe">
            </a>
          </div>

          <div class="hot-card col-3" data-aos="flip-up" data-aos-duration="700" data-aos-anchor-placement="bottom-bottom">
            <a href="#">
              <p class="label-sm">人氣 No.1</p>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="shoe">
            </a>
          </div>

          <div class="hot-card col-3" data-aos="flip-up" data-aos-duration="800" data-aos-anchor-placement="bottom-bottom">
            <a href="#">
              <p class="label-sm">人氣 No.1</p>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="shoe">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="sale">
      <div class="sale-container d-flex">
        <div class="sale-text">
          <img class="star" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week3-4/star.svg" alt="star">
          <div class="sale-title d-flex aic jcc" data-aos="fade-up">
            <h2 class="display-2 m-h2-style">URBNSTEP</h2>
            <h3 class="h1-style m-h3-style">x</h3>
            <h2 class="display-2 m-h2-style">Kevin Chen</h2>
          </div>
          <h3 class="h2-style m-h5-style" data-aos="fade-up">跨界聯名，限量發售</h3>
          <p class="paragraph-lg m-paragraph-md" data-aos="fade-up">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
          <img class="sparkle" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week3-4/sparkle.svg" alt="sparkle">
        </div>
        <a class="primary-btn-lg label-md" href="#">立即搶購</a>
      </div>
    </section>

    <section class="series">
      <h3 class="h2-style m-h4-style">依系列選購</h3>

      <div class="series-container">
        <div class="series-pic d-flex">
          <a class="col-3 m-col-6" href="#">
            <div class="series-card" data-aos="flip-left">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="shoe">
              <div class="series-text d-flex fd-c jcc aic">
                <h4 class="h3-style m-h6-style">URBN RUNNER</h4>
                <p class="h4-style m-h6-style">慢跑系列</p>
              </div>
            </div>
          </a>

          <a class="col-3 m-col-6" href="#">
            <div class="series-card" data-aos="flip-left">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="shoe">
              <div class="series-text d-flex fd-c jcc aic">
                <h4 class="h3-style m-h6-style">STREETMODE</h4>
                <p class="h4-style m-h6-style">滑板系列</p>
              </div>
            </div>
          </a>

          <a class="col-3 m-col-6" href="#">
            <div class="series-card" data-aos="flip-left">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="shoe">
              <div class="series-text d-flex fd-c jcc aic">
                <h4 class="h3-style m-h6-style">CHUNK DISTRICT</h4>
                <p class="h4-style m-h6-style">厚底系列</p>
              </div>
            </div>
          </a>

          <a class="col-3 m-col-6" href="#">
            <div class="series-card" data-aos="flip-left">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="shoe">
              <div class="series-text d-flex fd-c jcc aic">
                <h4 class="h3-style m-h6-style">COLLAB ZONE</h4>
                <p class="h4-style m-h6-style">聯名企劃</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      </section>

      <section class="style">
        <h3 class="h2-style m-h4-style">穿搭靈感</h3>

        <div class="style-pic d-flex">
          <div class="style-block style-col-4">
            <div class="d-flex f-wrap m-nw">
              <div class="block style-col-6" data-aos="fade-down"><a href="#" ><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-1.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#" ><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-2.png?raw=true" alt="people"></a></div>
              <div class="block style-col-12" data-aos="fade-down"><a href="#" ><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-3.png?raw=true" alt="people"></a></div>
            </div>
          </div>

          <div class="style-block style-col-4">
            <div class="d-flex f-wrap m-nw">
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-4.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-5.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-6.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-7.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-8.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-9.png?raw=true" alt="people"></a></div>
            </div>
          </div>

          <div class="style-block style-col-4">
            <div class="d-flex f-wrap m-nw">
              <div class="block style-col-12" data-aos="fade-down"><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-10.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#" ><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-11.png?raw=true" alt="people"></a></div>
              <div class="block style-col-6" data-aos="fade-down"><a href="#" ><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-12.png?raw=true" alt="people"></a></div>
            </div>
          </div>
        </div>
      </section>

    <!-- Footer Start -->
    <%- include('./layout/ad'); -%>
    <%- include('./layout/footer'); -%>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>