<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="wrap">
    <%- include('./layout/header'); -%>
    <!-- Header End -->
    <nav>
      <p>
        <a class="nav-1 label-md" href="#">首頁</a>
        /
        <a class="nav-1 label-md" href="#">女鞋</a>
        /
        <a class="nav-2 label-md" href="#">所有商品</a>
      </p>

      <h1 class="h3-style">女鞋</h1>
    </nav>

    <main>
      <aside>
        <div class="aside">
          <a href="#">
            <h3>所有商品</h3>
          </a>

          <a href="#">
            <h3>慢跑鞋</h3>
          </a>

          <a href="#">
            <h3>滑板鞋</h3>
          </a>

          <a href="#">
            <h3>厚底鞋</h3>
          </a>

          <a href="#">
            <h3>限定 / 聯名企劃</h3>
          </a>
        </div>
      </aside>

      <section class="product">
        <ul>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="PLATFORM 404">
              <h2>PLATFORM 404</h2>
              <p>NT$2,600</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="PLATFORM 404">
              <h2>PLATFORM 404</h2>
              <p>NT$2,600</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="VM001">
              <h2>VM001</h2>
              <p>NT$2,600</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="Melty Kiss">
              <h2>Melty Kiss</h2>
              <p>NT$4,000</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="BOOMBLOK">
              <h2>BOOMBLOK</h2>
              <p>NT$3,200</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true" alt="BOOMBLOK">
              <h2>BOOMBLOK</h2>
              <p>NT$3,200</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="R:UNER">
              <h2>R:UNER</h2>
              <p>NT$4,000</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="Sugar Snap">
              <h2>Sugar Snap</h2>
              <p>NT$4,000</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="Neofoam">
              <h2>Neofoam</h2>
              <p>NT$4,000</p>
            </a>
          </li>
        </ul>

        <div class="pagination">
          <a href="#"><i class="bi bi-chevron-left"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">...</a>
          <a href="#">10</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </div>
      </section>
    </main>


    <!-- Footer Start -->
    <%- include('./layout/ad'); -%>
    <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>